# Секреты (НИКОГДА не заливай .env на GitHub)
.env

# Виртуальное окружение (оно весит сотни мегабайт и зависит от ОС)
venv/
.venv/
env/

# Кеш Python
__pycache__/
*.pyc

# База данных и Docker данные
postgres_data/
*.db

# Системные файлы Mac (на будущее)
.DS_Store